html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}

.clearfix {
  *zoom: 1;
}

.warp {
  width: 7.5rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.top {
  width: 100%;
  padding: 0.6rem 0.3rem 0.3rem 0.2rem;
  background-image: url(../images/u48.png);
  background-position: center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.top > div {
  width: 3.2rem;
  float: left;
}
.top > .top1 > img {
  float: left;
  display: block;
  margin-right: 0.1rem;
  width: 0.7rem;
  height: 0.7rem;
}
.top > .top1 > div {
  float: left;
  width: 0.2rem;
}
.top > .top1 > div > span {
  float: left;
  font-size: 0.2rem;
  line-height: 0.3rem;
  color: #fff;
}
.top > .top1 > div > span:last-child {
  color: #10b28d;
}
.top > .top2 {
  text-align: center;
  width: 1rem;
  float: left;
}
.top > .top2 > h3 {
  color: #fff;
  font-size: 0.3rem;
  margin-left: -0.3rem;
  line-height: 0.3rem;
  text-align: center;
}
.top > .top2 > span {
  display: block;
  color: #10b28d;
  font-size: 0.2rem;
  margin-left: -0.3rem;
  line-height: 0.3rem;
  text-align: center;
}
.top > .top3 > a > img {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  float: right;
  margin-right: 0.5rem;
}
.banner {
  margin-top: 1.6rem;
}
.banner > .swiper-container > .swiper-wrapper > .swiper-slide > img {
  width: 100%;
}
section {
  /* margin-top: 0.2rem; */
}
section > .main-top {
  padding: 0 0.25rem;
}
section > .main-top > .main-top-inner {
  border: 2px solid #ebebeb;
  box-shadow: 0.1rem 0.01rem 0.1rem 0.1rem #f2f2f2 inset;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  background-color: #fdfdfd;
  margin-bottom: 0.4rem;
}
section > .main-top > .main-top-inner > a {
  float: left;
  display: block;
  margin-right: 0.6rem;
}
section > .main-top > .main-top-inner > a > img {
  display: block;
  width: 0.6rem;
}
section > .main-top > .main-top-inner > a:last-child {
  margin-right: 0;
}
section > .main-min > .main-min-containet {
  padding: 0 0.25rem;
}
section > .main-min > .main-min-containet > .min-top > .top-left {
  width: 1.5rem;
}
section > .main-min > .main-min-containet > .min-top > .top-left > span {
  color: #60d6be;
  float: left;
  font-size: 0.2rem;
  padding-left: 0.2rem;
  border-left: 2px solid #60d6be;
  margin-top: 0.2rem;
}
section > .main-min > .main-min-containet > .min-top > .top-right {
  float: right;
}
section > .main-min > .main-min-containet > .min-top > .top-right > span {
  float: left;
  font-size: 0.3rem;
  line-height: 1rem;
  margin-right: 0.2rem;
}
section > .main-min > .main-min-containet > .min-inner {
  padding: 0 0.2rem;
  padding-bottom: 0.4rem;
}
section > .main-min > .main-min-containet > .min-inner > .inner-left {
  width: 3.2rem;
  float: left;
}
section > .main-min > .main-min-containet > .min-inner > .inner-left > h2 {
  font-size: 0.34rem;
  font-weight: 600;
}
section > .main-min > .main-min-containet > .min-inner > .inner-left > p {
  font-size: 0.24rem;
  color: #6b6b6b;
  margin-top: 0.2rem;
}
section > .main-min > .main-min-containet > .min-inner > .inner-left > span {
  font-size: 0.2rem;
  color: #6b6b6b;
  display: block;
  margin-top: 0.5rem;
}
section > .main-min > .main-min-containet > .min-inner > .inner-right {
  float: right;
  width: 3.2rem;
}
section > .main-min > .main-min-containet > .min-inner > .inner-right > img {
  display: block;
  width: 100%;
  margin-left: 0.2rem;
}
section > .main-min > .main-min-containet > .min-inner > .inner-right > div {
  float: right;
  margin-bottom: 1rem;
}
section
  > .main-min
  > .main-min-containet
  > .min-inner
  > .inner-right
  > div
  > a {
  font-size: 0.2rem;
  color: #6b6b6b;
  display: block;
  float: left;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  line-height: 0.2rem;
}
section
  > .main-min
  > .main-min-containet
  > .min-inner
  > .inner-righ
  > div
  > a
  > i {
  display: block;
  font-size: 0.2rem;
  color: #6b6b6b;
}
section > .he {
  width: 100%;
  height: 0.2rem;
  background-color: #f8f8f8;
  margin-top: 2.5rem;
}
section .main-min1 > .main-min1-containet {
  padding: 0 0.25rem;
}

section .main-min1 > .main-min1-containet > .min-top1 > .top-left1 {
  width: 1.5rem;
}
section .main-min1 > .main-min1-containet > .min-top1 > .top-left1 > span {
  color: #60d6be;
  float: left;
  font-size: 0.2rem;
  padding-left: 0.2rem;
  border-left: 2px solid #60d6be;
  margin-top: 0.2rem;
}
section .main-min1 > .main-min1-containet > .min-top1 > .top-right1 {
  float: right;
}
section .main-min1 > .main-min1-containet > .min-top1 > .top-right1 > span {
  float: left;
  font-size: 0.3rem;
  line-height: 1rem;
  margin-right: 0.2rem;
}
section .main-min1 > .main-min1-containet > .min-inner1 {
  padding: 0 0.2rem;
  padding-bottom: 0.4rem;
}
section .main-min1 > .main-min1-containet > .min-inner1 > .inner-left1 {
  width: 3.2rem;
  float: left;
}
section .main-min1 > .main-min1-containet > .min-inner1 > .inner-left1 > h2 {
  font-size: 0.34rem;
  font-weight: 600;
}
section .main-min1 > .main-min1-containet > .min-inner1 > .inner-left1 > p {
  font-size: 0.24rem;
  color: #6b6b6b;
  margin-top: 0.2rem;
}
section .main-min1 > .main-min1-containet > .min-inner1 > .inner-left1 > span {
  font-size: 0.2rem;
  color: #6b6b6b;
  display: block;
  margin-top: 0.5rem;
}
section .main-min1 > .main-min1-containet > .min-inner1 > .inner-right1 {
  float: right;
  width: 3.2rem;
}
section
  .main-min1
  > .main-min1-containet
  > .min-inner1
  > .inner-right1
  > a
  > img {
  display: block;
  width: 100%;
  margin-left: 0.2rem;
}
section .main-min1 > .main-min1-containet > .min-inner1 > .inner-right1 > div {
  float: right;
  margin-bottom: 2rem;
}
section
  .main-min1
  > .main-min1-containet
  > .min-inner1
  > .inner-right1
  > div
  > a {
  font-size: 0.2rem;
  color: #6b6b6b;
  display: block;
  float: left;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  line-height: 0.2rem;
}
section
  .main-min1
  > .main-min1-containet
  > .min-inner1
  > .inner-righ1
  > div
  > a
  > i {
  display: block;
  font-size: 0.2rem;
  color: #6b6b6b;
}
section .main-bottom {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 3;
  padding-bottom: 0.3rem;
}
section .main-bottom .bottom-inner {
  width: 100%;
  padding: 0.3rem 0.3rem;
}
section .main-bottom .bottom-inner > a {
  float: left;
  margin-left: 0.5rem;
}
section .main-bottom .bottom-inner > .jiahao > a > img {
  width: 48px;
}
section .main-bottom .bottom-inner > div {
  float: left;
  width: 1rem;
  height: 1.3rem;
  overflow: hidden;
  margin-right: 0.5rem;
}
section .main-bottom .bottom-inner > div:last-child {
  margin-right: 0;
}

section .main-bottom .bottom-inner > div > a > img {
  display: block;
  float: left;
}
section .main-bottom .bottom-inner > div > a:first-child > img {
  margin-bottom: 0.2rem;
}
